.container {
  overflow: auto;
  max-height: calc(100vh - 65px);
  padding-top: 5px;
  position: relative;
}

.hour {
  border-top: 1px solid var(--mat-sys-secondary-fixed-dim);
  margin-left: 50px;
  position: relative;

  span {
    position: absolute;
    top: -10px;
    left: -45px;
    font-size: smaller;
    color: var(--mat-sys-secondary-fixed-dim);
  }
}

.now-pointer {
  position: absolute;
  z-index: 10;
  left: 25px;
  width: calc(100% - 30px);
  border: 1px solid var(--mat-sys-error);
}

.event {
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 10px 0px var(--mat-sys-outline);
  min-width: 300px;
  z-index: 11;
  background-color: var(--mat-sys-on-primary-container);

  span {
    color: var(--mat-sys-surface-dim);
    font-size: x-small;
    padding: 10px;
  }
}

.delete-icon {
  color: var(--mat-sys-surface-dim);
  font-size: small;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
  line-height: 2;
  cursor: pointer;
}
